# Environment
.env

# Logs
logs/
*.log

# Local storage
storage/*


# Build
bin/
tmp/

# Test coverage
coverage.out

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/



keys
keys/private.pem
keys/public.pem